<h2><%= @question.body %></h2><br>
<p>Created by: <%= @question.user.username %></p>

<% if @errors %>
  <span>Something went wrong:</span>
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<a href="/questions/<%=@question.id%>/edit">Edit</a>
