<label for="username">username</label>
<input type="text" name="user[username]" placeholder="username" tabindex="1">

<label for="password">password</label>
<input type="password" name="user[password]" placeholder="********" tabindex="1">
