<h1><%=@question.title%></h1>
<h2><%=@question.body%></h2>

<%= erb :'_errors' %>

<h3>submit new comment</h3>
<form action="/questions/<%=@question.id%>/answers" method="post">
  <label>answer</label><input type="text" name="answer[body]">
  <label>id</label><input type="text" name="answer[user_id]">
  <input type="submit" value="answer">
</form>
