<h1>QUESTIONS</h1>
<div class="class5">
  <%= erb :'/questions/index' %>
</div>

<% if logged_in? %>
  <form action='/questions' method='post'>
    <label>Input New Question: <input type='text' name="body"></label><br>
    <input type='submit' value='SUBMIT'>
  </form>
<% end %>
