<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div class="class1">
      <nav>
          <% if current_user %>
            <a href="/users/<%=current_user.id%>"><%= current_user.username %></a> |
            <a href="/logout">Logout</a> |
            <a href="/questions/new">Ask Question</a> |
          <% else %>
            <a href="/users/new">Register</a> |
            <a href="/login">Login</a> |
          <% end %>
          <a href="/">Home</a>
        </ul>
      </nav>

      <div class="class2">
        <h1>TBD OVERFLOW</h1>
      </div>
    </div>
  </header>

  <div class="class3">
    <div class="class4">
      <%= yield %>
    </div>
  </div>
</body>
</html>
